PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://github_user:YOUR_PASSWORD@localhost:5432/github_clone"

JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

GIT_STORAGE_PATH="./storage/repositories"
